.RuleSetting {
  height: 120px;
  margin-top: 16px;
  border: 3px solid #f3f3f3;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.RuleId {
  width: 35%;
  text-align: left;
  margin-left: 30px;
  font-size: 1.8em;
}
    
.RuleDescription {
  width: 45%;
  text-align: left;
}
    
.RuleSwitch {
  width: 20%;
  text-align: center;
}