.RuleSetting {
    height: fit-content;
    width: 905px;
    margin-top: 16px;
    padding: 15px 0 15px 0;
    border: 3px solid #f3f3f3;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .RuleName {
    width: 250px;
    text-align: left;
    margin-left: 30px;
    font-size: 1.8em;
  }
      
  .RuleDescription {
    width: 430px;
    text-align: left;
  }
      
  .RuleSwitch {
    width: 150px;
    text-align: center;
  }
  
  .RuleToggleActions {
    width: 20px;
    text-align: center;
  }
  
  .ButtonMoreVert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20px;
    overflow: hidden;
    border: none;
    background-color: #ffffff;
  }
  
  .ButtonMoreVert:hover {
    cursor: pointer;
  }
  
  .ImgMoreVert {
    width: 30px;
    height: auto;
  }
  
  .RuleActions {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }