.RuleSetting {
  height: fit-content;
  width: 905px;
  margin-top: 16px;
  padding: 15px 0 15px 0;
  border: 3px solid #f3f3f3;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.RuleWrap {
  display: flex;
  align-items: center;
}
  
.RuleName {
    width: 250px;
    text-align: left;
    margin-left: 30px;
    font-size: 1.8em;
}
      
.RuleDescription {
    width: 480px;
    text-align: left;
    padding-right: 20px;
}
      
.RuleSwitch {
    width: 63px;
    text-align: center;
}

  .RuleToggleActions {
    width: 20px;
    padding-left: 22px;
    text-align: center;
  }
  
  .ButtonMoreVert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20px;
    overflow: hidden;
    border: none;
    background-color: #ffffff;
  }
  
  .ButtonMoreVert:hover {
    cursor: pointer;
  }
  
  .ImgMoreVert {
    width: 30px;
    height: auto;
  }
  
  .RuleActions {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .RuleDetails {
    width: 100%;
    margin: 15px 20px 0 20px;
    background-color: #f3f3f3;
    border-radius: 22px;
  }

  .RuleDetails.hidden {
    margin: 0px;
  }

  .RuleDetailsContent {
    margin: 0 20px 0 20px;
  }