/* sidebar css */

.SidebarContainer {
    text-align: left;
    overflow-y: scroll;
  }
  
  @media (max-width: 1300px) {
    .SidebarContainer {
      width: 90px;
    }
  
    .SidebarContainer .title {
      display: none;
    }
  }
  
  .SidebarContainer .link {
    text-decoration: none;
    color: black;
  }
  
  @media (max-width: 800px) {
    .SidebarContainer {
      display: none;
    }
  }
  
  /* 스크롤바 * ~255 */
  .SidebarContainer::-webkit-scrollbar {
    border: none;
    -webkit-appearance: none;
  }
  
  .SidebarContainer::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 8px;
  }
  
  .MainMenuDiv {
    padding: 5px 20px 5px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .MainMenuDiv:hover {
    background-color: #f3f3f3;
  }
  
  @media (max-width: 1300px) {
    .MainMenuDiv {
      height: 90px;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
  
  .MenuDiv {
    padding: 0px 20px 0px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .MenuDiv:hover {
    background-color: #f3f3f3;
  }
  
  @media (max-width: 1300px) {
    .MenuDiv {
      display: none;
    }
  }
  
  .Icon {
    margin-right: 20px;
    height: 25px;
    align-items: center;
    display: flex;
    float: left;
  }
  
  @media (max-width: 1300px) {
    .Icon {
      margin: 0;
    }
  }
  
  .MenuSpan {
  font-size: 15px;
  }
  
  .Line {
    height: 1px;
    background: #dedede;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  
  @media (max-width: 1300px) {
    .Line {
      display: none;
    }
  }