.TopList {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.toplistleft {
  display: flex;
  align-items: center;
  margin-left: 10px;
  column-gap: 20px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: white;
  border: none;
  border-radius: 50%;
}

.menu:hover {
  background-color: #f3f3f3;
}

.menuImg {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.toplistright {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
  
.UserEmail {
  width: fit-content;
  max-width: 300px;
  text-align: right;
}

/* FHD 미만 */
@media (max-width: 1919px) {
  .toplistleft {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .menuWrap {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
}

/* FHD 이상 */
@media (min-width: 1920px) {
  .toplistleft {
    justify-content: left;
    margin: 0;
    column-gap: 0;
    padding-left: 20px;
  }
  .menu {
    display: none;
  }
} 