body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginpage {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 500px;

  left: 50%;
  transform: translate(-50%, 0);

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: bold;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 15px;
  font-weight: 600;
  color: #262626;
  padding-bottom: 10px;
}

.inputWrap {
  display: flex;
  border-radius: 50px;
  padding: 4px 12px 4px 14px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.bottomButtonWrap {
  padding-top: 20px;
}

.bottomButton {
  width: 100%;
  height: 55px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  background-color: #9e30f4;
  color: white;
  cursor: pointer;
  text-align: center;
  display: block;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

/* body css */
.Wrap {
  margin: 0 auto;
}

.Header {
  width: 100%;
  margin: 20px 0px;
}

.Root,
.Container
.ColumnWrap {
  display: table;
  clear: both;
  width: fit-content;
}

.Container {
  position: relative;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  padding-bottom: 60px;
}

.ColumnWrap {
  position: relative;
  height: auto;
}

.ColumnLeft {
  display: flex;
  float: left;
}

.ColumnRight {
  display: flex;
  flex-direction: column;
  float: left;
}

/* FHD 미만 */
@media (max-width: 1919px) {
  .Root {
    width: 1000px;
  }
  .ColumnWrap {
    display: flex;
    align-items: flex-start;
    width: 1000px;
  }
  .ColumnLeft {
    flex: 0 0 65px;
    margin-right: 20px;
  }
  .ColumnRight {
    width: calc(1000px - 65px - 20px); 
    box-sizing: border-box;
  }
  .ColumnRight-hide {
    width: 1000px;
    box-sizing: border-box;
  }
  .ColumnLeft-hide {
    display: none;
  }
}

/* FHD 이상*/
@media (min-width: 1920px) {
  .Root {
    width: fit-content;
  }
  .ColumnLeft,
  .ColumnLeft-hide {
    float: left;
    width: 320px;
  }
  .ColumnRight,
  .ColumnRight-hide {
    float: left;
    width: calc( 1200px - 320px );
    margin: 0 0 20px 0;
  }
}